/.ipynb_checkpoints
/.vscode
/1.ipynb
/2. Menu Structure.ipynb
/3. Menu Structure.ipynb
/4. Menu Structure.ipynb
/ass1.1.py
/ass1.py
/Assignment 1 notes.ipynb
/Assignment 1 snippet.ipynb
/Assignment 1-Simple_version.ipynb
/Assignment 1.1.ipynb
/Assignment.ipynb
/Assignment1.py
/atley-1-1.py
/atley-1.py
/basic_menu.py
/basic_menu2.py
/basic_menu_bare-1.py
/basic_menu_bare-2.py
/basic_menu_bare.py
/Billy Tutorial Wk 5
/Challenge 1.dio
/challenge1.dio
/Complete.dio
/figlet.ipynb
/Final.py
/flowchart.dio
/flowchart.png
/flowcharts1.vsdx
/hello.py
/images
/Jupyter Password.ipynb
/Jupyter_1.ipynb
/keyboard_input.py
/little-britain.jpg
/Meni Prob1.1.ipynb
/Menu Final 2.ipynb
/Menu Final.ipynb
/Menu last effort.ipynb
/Menu Prob 1.ipynb
/Menu Structure.ipynb
/menu1.py
/menu2.py
/menutest.py
/menutest1.py
/menutest2.py
/menutest3-1.py
/menutest3.py
/new-workspace.jupyterlab-workspace
/problem1.py
/Problem1Seperate.py
/ProblemHandSolution.png
/ProblemHandSolution2.png
/program.dio
/program.png
/program.svg
/sandbox.ipynb
/Simple-Term-Menu.ipynb
/svg.py
/textmenu
/textmenu2.py
/textmenu3.py
/untitled.dio
/Untitled.ipynb
/untitled.svg
/untitled1.dio
/Untitled1.ipynb
/untitled3.dio
/untitled4.dio
/untitled5.dio
/while.py